
# Select scope

- All rows accross pagination:  `table.selectAll({ scope: 'all' })`
<!-- - Current page only (default):  `table.selectAll({ scope: 'currentPage' })` -->

```svelte
<input type="checkbox"
    checked={table.isAllSelected}
    onclick={() => table.selectAll({ scope: 'all' })}
>
```