
# Highlight results

To highlight row values, define `highlight: true` in your TableHandler instanciation.

```ts
const table = new TableHandler(data, { highlight: true })
```

This will add a `<u class="highlight">` tag around matching values of type *string* or *number*.

**Caveat:** requires `{@html}` everywhere in the template.