# Nested prop 

You may have nested properties that you need to filter specifically.

`field` can be set as a callback with `row` as argument:

```ts
const field = (row) => row.nested.prop
```

## Example 

```ts
const filter = table.createFilter((row) => row.user.name)
```