
# Rows per page

```svelte
<select bind:value={table.rowsPerPage} onchange={() => table.setPage(1)}>
    {#each [5, 10, 20, 50] as option}
        <option value={option}>{option}</option>
    {/each}
</select>
```