
# Column visibility

```ts
const view = table.createView([
    { index: 0, name: 'ID', isVisible: false },
    { index: 1, name: 'Name' },
    { index: 2, name: 'Email' },
    { index: 3, name: 'Comment' },
])
```

```svelte
{#each view.columns as column}
    <button type="button" 
        class={{ active: column.isVisible }}
        onclick={() => column.toggle()}
    >
        {column.name}
    </button>
{/each}
```