
# Invalidate

The invalidate method runs your data fetching function and updates table rows.

```ts
table.invalidate()
```

Most of the time, the table handler automatically runs invalidate. Use it with caution.