# Check function

Additionally, you can specify a check function to match with values.

<!-- This function reduces boilerplates from the shortchut `table.filter(valuefield,)` -->

```ts
import { check } from '@vincjo/datatables'

const filter = table.createFilter('last_name', check.startsWith)
```