

# Search input

To create a search input, use `table.createSearch()`.


```svelte
<script lang="ts">
    import type { TableHandler } from '@vincjo/datatables'
    let { table }: { table: TableHandler } = $props()

    const search = table.createSearch()
</script>

<input type="text" bind:value={search.value} oninput={() => search.set()}>
```