<script>
    import Basic from './Basic.svelte'
</script>

### Basic usage
```ts
const [min, max] = $derived(table.createCalculation('model_year').bounds())
```
````svelte
<ul>
    <li>Minimum value: {min}</li>
    <li>Maximum value: {max}</li>
</ul>
````
<Basic/>