<script>
    import { site } from '$site'
</script>


{#if site.mode === 'client'}
    <span style:color="var(--font)">Client-side pagination</span>
{:else}
    <span style:color="var(--font)">Server-side pagination</span>
{/if}

# Dev mode

The documentation is loaded from an external api.