<script>
    import { site } from '$site/utils'
</script>


{#if site.mode === 'client'}
    <span style:color="var(--font)">Client-side data processing</span>
{:else}
    <span style:color="var(--font)">Server-side data processing</span>
{/if}

# Dev mode

The documentation is loaded from an external api.