<script>
    import Main from './Main.svelte'
</script>


# Multiple criteria filter

```ts
const filter = table.createAdvancedFilter('priority', check.isEqualTo)
```

Template side:

```svelte
<button 
    onclick={() => filter.set('high')}
    class:active={filter.criteria.includes('high')}
>High priority</button>

<button
    onclick={() => filter.set('low')}
    class:active={filter.criteria.includes('low')}
>Low priority</button>
```

## Example

<Main/>