@font-face {font-family: "JetBrains";src: url('./fonts/JetBrainsMono-VariableFont_wght.ttf');}

*{box-sizing:border-box;}

*::selection {
    background: #006990;
    color: #fff;
}
pre{border-radius:2px;}
*{
    --primary:#b71540;
    --color:#444;
    --label:#555;
    --active:#62c8f3;
    --active-light:#ceffff;
    --active-dark: #006990;
    --hljs: #2f2f2f;
}


.thin-scrollbar::-webkit-scrollbar {width: 6px;height: 6px;}
.thin-scrollbar::-webkit-scrollbar-track {background: #fafafa;}
.thin-scrollbar::-webkit-scrollbar-thumb {background: #bdbdbd;}
.thin-scrollbar::-webkit-scrollbar-thumb:hover {background: #9e9e9e;}
.thin-scrollbar::-webkit-scrollbar-track-piece:start {top: 40px;}

.thin-scrollbar-dark::-webkit-scrollbar {width:8px;height:8px;}
.thin-scrollbar-dark::-webkit-scrollbar-track {background:#424242;}
.thin-scrollbar-dark::-webkit-scrollbar-thumb {background:#000;}
.thin-scrollbar-dark::-webkit-scrollbar-thumb:hover {background: #212121;}
.thin-scrollbar-dark::-webkit-scrollbar-track-piece:start {top:40px;}


/* .hljs{background:var(--hljs);} */

body {margin: 0; font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; font-size: 14px; line-height: 1.5;color: #333;}
body > * {scrollbar-width:thin}


a{color:inherit;}

/* pre{margin:0 !important;} */

.i18n-form .text-field.i18n{width:256px !important;margin-right:32px !important;}
.i18n-form .text-field.i18n.small{width:200px  !important;}
.i18n-form .text-field.i18n.tall{width:368px  !important;}

.z-depth-1 {-webkit-box-shadow: 0 2px 2px 0 rgba(189,189,189, 0.14), 0 3px 1px -2px rgba(189,189,189, 0.12), 0 1px 5px 0 rgba(189,189,189, 0.2);box-shadow: 0 2px 2px 0 rgba(189,189,189, 0.14), 0 3px 1px -2px rgba(189,189,189, 0.12), 0 1px 5px 0 rgba(189,189,189, 0.2);}
.z-depth-1-half {-webkit-box-shadow: 0 3px 3px 0 rgba(189,189,189, 0.14), 0 1px 7px 0 rgba(189,189,189, 0.12), 0 3px 1px -1px rgba(189,189,189, 0.2);box-shadow: 0 3px 3px 0 rgba(189,189,189, 0.14), 0 1px 7px 0 rgba(189,189,189, 0.12), 0 3px 1px -1px rgba(189,189,189, 0.2);}
.z-depth-2 {-webkit-box-shadow: 0 4px 5px 0 rgba(189,189,189, 0.14), 0 1px 10px 0 rgba(189,189,189, 0.12), 0 2px 4px -1px rgba(189,189,189, 0.3);box-shadow: 0 4px 5px 0 rgba(189,189,189, 0.14), 0 1px 10px 0 rgba(189,189,189, 0.12), 0 2px 4px -1px rgba(189,189,189, 0.3);}
.z-depth-3 {-webkit-box-shadow: 0 8px 17px 2px rgba(189,189,189, 0.14), 0 3px 14px 2px rgba(189,189,189, 0.12), 0 5px 5px -3px rgba(189,189,189, 0.2);box-shadow: 0 8px 17px 2px rgba(189,189,189, 0.14), 0 3px 14px 2px rgba(189,189,189, 0.12), 0 5px 5px -3px rgba(189,189,189, 0.2);}
.z-depth-4 {-webkit-box-shadow: 0 16px 24px 2px rgba(189,189,189, 0.14), 0 6px 30px 5px rgba(189,189,189, 0.12), 0 8px 10px -7px rgba(189,189,189, 0.2);box-shadow: 0 16px 24px 2px rgba(189,189,189, 0.14), 0 6px 30px 5px rgba(189,189,189, 0.12), 0 8px 10px -7px rgba(189,189,189, 0.2);}
.z-depth-5 {-webkit-box-shadow: 0 24px 38px 3px rgba(189,189,189, 0.14), 0 9px 46px 8px rgba(189,189,189, 0.12), 0 11px 15px -7px rgba(189,189,189, 0.2);box-shadow: 0 24px 38px 3px rgba(189,189,189, 0.14), 0 9px 46px 8px rgba(189,189,189, 0.12), 0 11px 15px -7px rgba(189,189,189, 0.2);}

