@font-face {
  font-family: 'JetBrains';
  src: url('./fonts/JetBrainsMono-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

*::selection {
  background: #006990;
  color: #fff;
}
pre {
  border-radius: 2px;
}
* {
  --color: #444;
  --label: #555;
  --hljs: #2f2f2f;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.thin-scrollbar::-webkit-scrollbar-track {
  background: #fafafa;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}
.thin-scrollbar::-webkit-scrollbar-track-piece:start {
  top: 40px;
}

.thin-scrollbar-dark::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.thin-scrollbar-dark::-webkit-scrollbar-track {
  background: #424242;
}
.thin-scrollbar-dark::-webkit-scrollbar-thumb {
  background: #000;
}
.thin-scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background: #212121;
}
.thin-scrollbar-dark::-webkit-scrollbar-track-piece:start {
  top: 40px;
}

/* .hljs{background:var(--hljs);} */

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
body > * {
  scrollbar-width: thin;
}

a {
  color: inherit;
}

/* pre{margin:0 !important;} */

.i18n-form .text-field.i18n {
  width: 256px !important;
  margin-right: 32px !important;
}
.i18n-form .text-field.i18n.small {
  width: 200px !important;
}
.i18n-form .text-field.i18n.tall {
  width: 368px !important;
}

pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
pre::-webkit-scrollbar-track {
  background: #424242;
}
pre::-webkit-scrollbar-thumb {
  background: #000;
}
pre::-webkit-scrollbar-thumb:hover {
  background: #212121;
}
pre::-webkit-scrollbar-track-piece:start {
  top: 40px;
}
