:root {
    --primary: #006990;
    --primary-lighten: #62c8f3;
    --primary-lighten-1: rgba(0, 105, 144, 0.1);
    --primary-lighten-1: rgba(0, 105, 144, 0.1);
    --primary-lighten-2: rgba(0, 105, 144, 0.2);
    --primary-lighten-3: rgba(0, 105, 144, 0.3);
    --primary-darken: #004058;

    --secondary: #c2185b;
    --secondary-lighten: #f48fb1;
    --secondary-darken: #880e4f;

    --ternary: #fbc02d;
}

::selection {
    background: #c2185b;
    color: #fff;
}

