main {
    --primary: #c2185b;
    --primary-lighten: #f48fb1;
    --primary-lighten-1: rgba(194, 24, 91, 0.1);
    --primary-lighten-1: rgba(194, 24, 91, 0.1);
    --primary-lighten-2: rgba(194, 24, 91, 0.2);
    --primary-lighten-3: rgba(194, 24, 91, 0.3);
    --primary-darken: #880e4f;

    --secondary: #006990;
    --secondary-lighten: #62c8f3;
    --secondary-lighten-1: rgba(0, 105, 144, 0.1);
    --secondary-lighten-1: rgba(0, 105, 144, 0.1);
    --secondary-lighten-2: rgba(0, 105, 144, 0.2);
    --secondary-lighten-3: rgba(0, 105, 144, 0.3);
    --secondary-darken: #004058;

    --ternary: #fbc02d;

    --grey: #e0e0e0;
    --bg: #fff;
    --font: #424242;
    --font-grey: #757575;
}

main.dark {
    --primary: #e03479;
    --primary-lighten: #ef6190;
    --primary-lighten-1: rgba(224, 52, 121, 0.1);
    --primary-lighten-1: rgba(224, 52, 121, 0.1);
    --primary-lighten-2: rgba(224, 52, 121, 0.2);
    --primary-lighten-3: rgba(224, 52, 121, 0.3);
    --primary-darken: #8c3463;

    --secondary: #62c8f3;
    --secondary-lighten: #D0EFFB;
    --secondary-lighten-1: rgba(98, 200, 243, 0.1);
    --secondary-lighten-1: rgba(98, 200, 243, 0.1);
    --secondary-lighten-2: rgba(98, 200, 243, 0.2);
    --secondary-lighten-3: rgba(98, 200, 243, 0.3);
    --secondary-darken: #7AD0F5;

    --ternary: #FEECC0;

    --grey: #424242;
    --bg: #181818;
    --font: #eee;
    --font-grey: #9e9e9e;
}

::selection {
    background: #006990;
    color: #fff;
}


.thin-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.thin-scrollbar::-webkit-scrollbar-track-piece:start {
    top: 40px;
}

.thin-scrollbar::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 8px;
}
main.dark .thin-scrollbar::-webkit-scrollbar-track {
    background: #212121;
    border-radius: 8px;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 8px;
}
main.dark .thin-scrollbar::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 8px;
}
.thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0;
}
main.dark .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #424242;
    transition: background, 0.2s;
}