:root {
    --primary: #c2185b;
    --primary-lighten: #f48fb1;
    --primary-lighten-1: rgba(194, 24, 91, 0.1);
    --primary-lighten-1: rgba(194, 24, 91, 0.1);
    --primary-lighten-2: rgba(194, 24, 91, 0.2);
    --primary-lighten-3: rgba(194, 24, 91, 0.3);
    --primary-darken: #880e4f;

    --secondary: #006990;
    --secondary-lighten: #62c8f3;
    --secondary-lighten-1: rgba(0, 105, 144, 0.1);
    --secondary-lighten-1: rgba(0, 105, 144, 0.1);
    --secondary-lighten-2: rgba(0, 105, 144, 0.2);
    --secondary-lighten-3: rgba(0, 105, 144, 0.3);
    --secondary-darken: #004058;

    --ternary: #fbc02d;

    --grey: #e0e0e0;
    --grey-lighten: #eee;
    --grey-lighten-2: #f5f5f5;
    --grey-lighten-3: #fafafa;
    /* --bg: #f4f6f8; */
    /* --bg: #f4ecf1; */
    --bg: #fff;
    --font: #424242;
    --font-grey: #757575;
    --bg-gradient: linear-gradient(180deg, #dfe8eb 0%, #feffff 40%, #fff 100%);
    --bg-code: #f5f7ff;
}
.thin-scrollbar::-webkit-scrollbar, pre::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.thin-scrollbar::-webkit-scrollbar-track-piece:start, pre::-webkit-scrollbar {
    top: 40px;
}

.thin-scrollbar::-webkit-scrollbar-track, pre::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 8px;
}
.thin-scrollbar::-webkit-scrollbar-thumb, pre::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 8px;
}
.thin-scrollbar::-webkit-scrollbar-thumb:hover, pre::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0;
}
.thin-scrollbar::-webkit-scrollbar-corner {
    display: none;
}

[data-theme="dark"] {
    --primary: #ef5492;
    --primary-lighten: #ef84a8;
    --primary-lighten-1: rgba(239, 84, 146, 0.1);
    --primary-lighten-2: rgba(239, 84, 146, 0.2);
    --primary-lighten-3: rgba(239, 84, 146, 0.3);
    --primary-darken: #8c3463;

    --secondary: #0089bb;
    --secondary-lighten: #62c8f3;
    --secondary-lighten-1: rgba(0, 105, 144, 0.1);
    --secondary-lighten-2: rgba(0, 105, 144, 0.2);
    --secondary-lighten-3: rgba(0, 105, 144, 0.3);
    --secondary-darken: #004058;

    --ternary: #a57e1a;

    --grey: #444444;
    --grey-lighten: #333;
    --grey-lighten-2: #181818;
    --grey-lighten-3: #151515;
    --bg: #222729;
    --bg-darken: #171a1b;
    --font: #eee;
    --font-grey: #bdbdbd;

    --bg-code: #212121;
    --bg-gradient: linear-gradient(4deg, rgba(38,52,57,1) 0%, rgba(20,23,24,1) 100%);
}
[data-theme="dark"] .thin-scrollbar::-webkit-scrollbar-track, [data-theme="dark"] pre::-webkit-scrollbar-track {
    background: #212121;
    border-radius: 8px;
}
[data-theme="dark"] .thin-scrollbar::-webkit-scrollbar-thumb, [data-theme="dark"] pre::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 8px;
}
[data-theme="dark"] .thin-scrollbar::-webkit-scrollbar-thumb:hover, [data-theme="dark"] pre::-webkit-scrollbar-thumb:hover {
    background: #333;
    transition: background, 0.2s;
}

::selection {
    background: #006990;
    color: #fff;
}


[data-mode="server"] {
    --primary: #006990;
    --primary-lighten: #62c8f3;
    --primary-lighten-1: rgba(0, 105, 144, 0.1);
    --primary-lighten-1: rgba(0, 105, 144, 0.1);
    --primary-lighten-2: rgba(0, 105, 144, 0.2);
    --primary-lighten-3: rgba(0, 105, 144, 0.3);
    --primary-darken: #004058;

    --secondary: #9e9d24;
    --secondary-lighten: #cddc39;
    --secondary-lighten-1: rgba(158, 157, 36, 0.1);
    --secondary-lighten-2: rgba(158, 157, 36, 0.2);
    --secondary-lighten-3: rgba(158, 157, 36, 0.3);
    --secondary-darken: #827717;
}

[data-theme="dark"][data-mode="server"] {
    --primary: #0089bb;
    --primary-lighten: #62c8f3;
    --primary-lighten-1: rgba(0, 137, 187, 0.2);
    --primary-lighten-2: rgba(0, 137, 187, 0.3);
    --primary-lighten-3: rgba(0, 137, 187, 0.4);
    --primary-darken: #004058;

    --secondary: #dce775;
    --secondary-lighten: #f0f4c3;
    --secondary-lighten-1: rgba(220, 231, 117, 0.1);
    --secondary-lighten-2: rgba(220, 231, 117, 0.2);
    --secondary-lighten-3: rgba(220, 231, 117, 0.3);
    --secondary-darken: #9e9d24;
}

[data-theme="dark"] .bg-darken {
    background: #171a1b;
}
[data-theme="light"] .bg-darken {
    background: #fff;
}
[data-theme="dark"] .active.bg-darken-active {
    background: var(--grey-lighten-3);
}

body {
    background: var(--bg);
}