@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/icons.woff2') format('woff2');
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border-radius: 2px;
  border: none;
  background: inherit;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
  padding: 0;
  margin: 0;
}

button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
  outline: 0;
}

button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  outline: 0;
  transition: all, 0.2s;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea {
  transition: all, 0.2s;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #d1d1d1;
  border-radius: 0.4rem;
  box-shadow: none;
  box-sizing: border-box;
  height: 38px;
  padding: 0.6rem 1rem 0.7rem;
  width: 100%;
}

input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='week']:focus,
input:not([type]):focus,
textarea:focus {
  border-color: var(--primary-lighten);
  outline: 0;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.thin-scrollbar::-webkit-scrollbar-track {
  background: #fafafa;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}
.thin-scrollbar::-webkit-scrollbar-track-piece:start {
  top: 40px;
}

.thin-scrollbar-darken::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.thin-scrollbar-darken::-webkit-scrollbar-track {
  background: #424242;
}
.thin-scrollbar-darken::-webkit-scrollbar-thumb {
  background: #000;
}
.thin-scrollbar-darken::-webkit-scrollbar-thumb:hover {
  background: #212121;
}
.thin-scrollbar-darken::-webkit-scrollbar-track-piece:start {
  top: 40px;
}

i.material-icons,
i.micon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.z-depth-1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(189, 189, 189, 0.14),
    0 3px 1px -2px rgba(189, 189, 189, 0.12), 0 1px 5px 0 rgba(189, 189, 189, 0.2);
  box-shadow: 0 2px 2px 0 rgba(189, 189, 189, 0.14), 0 3px 1px -2px rgba(189, 189, 189, 0.12),
    0 1px 5px 0 rgba(189, 189, 189, 0.2);
}
.z-depth-1-half {
  -webkit-box-shadow: 0 3px 3px 0 rgba(189, 189, 189, 0.14), 0 1px 7px 0 rgba(189, 189, 189, 0.12),
    0 3px 1px -1px rgba(189, 189, 189, 0.2);
  box-shadow: 0 3px 3px 0 rgba(189, 189, 189, 0.14), 0 1px 7px 0 rgba(189, 189, 189, 0.12),
    0 3px 1px -1px rgba(189, 189, 189, 0.2);
}
.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(189, 189, 189, 0.14), 0 1px 10px 0 rgba(189, 189, 189, 0.12),
    0 2px 4px -1px rgba(189, 189, 189, 0.3);
  box-shadow: 0 4px 5px 0 rgba(189, 189, 189, 0.14), 0 1px 10px 0 rgba(189, 189, 189, 0.12),
    0 2px 4px -1px rgba(189, 189, 189, 0.3);
}
.z-depth-3 {
  -webkit-box-shadow: 0 8px 17px 2px rgba(189, 189, 189, 0.14),
    0 3px 14px 2px rgba(189, 189, 189, 0.12), 0 5px 5px -3px rgba(189, 189, 189, 0.2);
  box-shadow: 0 8px 17px 2px rgba(189, 189, 189, 0.14), 0 3px 14px 2px rgba(189, 189, 189, 0.12),
    0 5px 5px -3px rgba(189, 189, 189, 0.2);
}
.z-depth-4 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(189, 189, 189, 0.14),
    0 6px 30px 5px rgba(189, 189, 189, 0.12), 0 8px 10px -7px rgba(189, 189, 189, 0.2);
  box-shadow: 0 16px 24px 2px rgba(189, 189, 189, 0.14), 0 6px 30px 5px rgba(189, 189, 189, 0.12),
    0 8px 10px -7px rgba(189, 189, 189, 0.2);
}
.z-depth-5 {
  -webkit-box-shadow: 0 24px 38px 3px rgba(189, 189, 189, 0.14),
    0 9px 46px 8px rgba(189, 189, 189, 0.12), 0 11px 15px -7px rgba(189, 189, 189, 0.2);
  box-shadow: 0 24px 38px 3px rgba(189, 189, 189, 0.14), 0 9px 46px 8px rgba(189, 189, 189, 0.12),
    0 11px 15px -7px rgba(189, 189, 189, 0.2);
}

.tooltip {
  position: relative;
}

.alt-font {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  letter-spacing: 0.01em;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 8px 16px;
}
