/*

Name:       Base16 Atelier Sulphurpool Light
Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/
[data-theme="light"] code[class*="language-"],
[data-theme="light"] pre[class*="language-"] {
    font-family: JetBrains, Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
	text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
	background: #f5f7ff;
	color: #474d62;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

[data-theme="light"] pre > code[class*="language-"] {
	font-size: 1em;
}

[data-theme="light"] pre[class*="language-"]::-moz-selection, 
[data-theme="light"] pre[class*="language-"] ::-moz-selection,
[data-theme="light"] code[class*="language-"]::-moz-selection, 
[data-theme="light"] code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #dfe2f1;
}

[data-theme="light"] pre[class*="language-"]::selection, 
[data-theme="light"] pre[class*="language-"] ::selection,
[data-theme="light"] code[class*="language-"]::selection, 
[data-theme="light"] code[class*="language-"] ::selection {
	text-shadow: none;
	background: #dfe2f1;
}

/* Code blocks */
[data-theme="light"] pre[class*="language-"] {
    margin: 0.5em 0;
    padding: 1.25em 1em;
	overflow: auto;
}

/* Inline code */
[data-theme="light"] :not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

[data-theme="light"] .token.comment,
[data-theme="light"] .token.prolog,
[data-theme="light"] .token.doctype,
[data-theme="light"] .token.cdata {
	color: #898ea4;
}

[data-theme="light"] .token.punctuation {
	color: #012dde;
}

[data-theme="light"] .token.namespace {
	opacity: .7;
}

[data-theme="light"] .token.boolean,
[data-theme="light"] .token.operator,
[data-theme="light"] .token.number {
	color: #c76b29;
}

[data-theme="light"] .token.builtin {
	color: #a39c3f;
}
[data-theme="light"] .token.property {
	color: #8f5d08;
}

[data-theme="light"] .token.tag {
	color: #3d8fd1;
}

[data-theme="light"] .token.string {
	color: #28985a;
}

[data-theme="light"] .token.selector {
	color: #6679cc;
}

[data-theme="light"] .token.attr-name {
	color: #c76b29;
}

[data-theme="light"] .token.entity,
[data-theme="light"] .token.url,
[data-theme="light"] .language-css .token.string,
[data-theme="light"] .style .token.string {
	color: #22a2c9;
}

[data-theme="light"] .language-javascript {
	color: #c91db8;
}

[data-theme="light"] .token.attr-value,
[data-theme="light"] .token.control,
[data-theme="light"] .token.directive,
[data-theme="light"] .token.unit {
	color: #ac9739;
}


[data-theme="light"] .token.keyword {
	color: #a71061;
}

[data-theme="light"] .token.function {
	color: #7524de;
}

[data-theme="light"] .token.statement,
[data-theme="light"] .token.regex,
[data-theme="light"] .token.atrule {
	color: #22a2c9;
}

[data-theme="light"] .token.placeholder,
[data-theme="light"] .token.variable {
	color: #3d8fd1;
}

[data-theme="light"] .token.deleted {
	text-decoration: line-through;
}

[data-theme="light"] .token.inserted {
	border-bottom: 1px dotted #202746;
	text-decoration: none;
}

[data-theme="light"] .token.italic {
	font-style: italic;
}

[data-theme="light"] .token.important,
[data-theme="light"] .token.bold {
	font-weight: bold;
}

[data-theme="light"] .token.important {
	color: #c94922;
}

[data-theme="light"] .token.entity {
	cursor: help;
}

[data-theme="light"] pre > code.highlight {
	outline: 0.4em solid #c94922;
	outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
 [data-theme="light"] .line-numbers.line-numbers .line-numbers-rows {
	border-right-color: #dfe2f1;
}

[data-theme="light"] .line-numbers .line-numbers-rows > span:before {
	color: #979db4;
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 */
 [data-theme="light"] .line-highlight.line-highlight {
	background: rgba(107, 115, 148, 0.2);
	background: -webkit-linear-gradient(left, rgba(107, 115, 148, 0.2) 70%, rgba(107, 115, 148, 0));
	background: linear-gradient(to right, rgba(107, 115, 148, 0.2) 70%, rgba(107, 115, 148, 0));
}


[data-theme="light"] .token.class-name {
    color: #104782;
    font-weight: bold;
	background: linear-gradient(180deg,rgba(255,255,255,0) 65%,rgba(117, 36, 222, 0.2) 25%);
}