
# Highlight results

To highlight results, define "highlight" at `true` in `TableHandler` params:

```ts
const table = new TableHandler(data, { highlight: true })
```

This will add `<u class="highlight">` tag around matching values of type *string* or *number*.

**Caveat:** 
- requires `{@html}` everywhere in the template.
- experimental for fields set as callback.