

# Sort button


```ts
const sort = table.createSort('name')
```

```svelte
<button onclick={() => sort.set()} class={{ active: sort.isActive }} type="button">
    name
    <span class={{ active: sort.direction === 'asc'  }}>↑</span>
    <span class={{ active: sort.direction === 'desc' }}>↓</span>
</button>
```

Your data is automatically reloaded with each sort.