

No code or parameter is required.
The vertical scroll applies if the parent element has a defined height.

```svelte
<div style:height="600px">
    <Datatable {handler}>
        [...]
    </Datatable>
</div>
```