
# Select all

- Are all rows selected ? `table.isAllSelected`
- Select all rows: `table.selectAll()`

```svelte
<input type="checkbox"
    checked={table.isAllSelected}
    onclick={() => table.selectAll()}
>
```